

.principal-main{
  display: flex ;
  align-items: stretch;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, 0.45);
  border-radius: 20px;
  padding: 0px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 80%;
  margin: 26px auto;
  
  overflow: hidden; /*Recorta esquina a las malas*/
}

.info-sidebar {
  width: 250px;
  padding: 2px; 
  border-right: 1px solid #e0e0e0;
  background-color: rgba(255, 255, 255, 0.45);
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}