
.toggle-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 34px;
  user-select: none;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toggle-track {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff; 
  border-radius: 999px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}


.toggle-thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: #c471ed;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}


.toggle-input:checked + .toggle-track {
  background-color: #ffffff; 
}


.toggle-input:checked + .toggle-track .toggle-thumb {
  left: calc(100% - 26px - 4px);
}